{% extends 'base.html.twig' %}

{% block body %}

    <section class="landing">
        <div class="landing-inner">
            <img class="logo" src="https://via.placeholder.com/150x150">
            <p><div id="app"></div></p>
            <h1 class="comingsoon">Coming Soon</h1>
            <div class="countdown"></div>
        </div>
    </section>

{% endblock %}